header.header
  .inner-logo
    a(href="#")
      span UIT-UA
      span Admin
  .inner-wrap
    .inner-notify
  img(src="public/admin/assets/images/icon-bell.svg", alt="")
      span 6
    .inner-account
      .inner-avatar
  img(src="public/admin/assets/images/avatar.png", alt="")
      .inner-text
        .inner-name Le Van A
        .inner-role Admin
    button.inner-button-menu
      <i class="fa-solid fa-bars"></i>