extends ../layouts/default.pug

block title
  title Tạo tài khoản quản trị

block main
  
  h1.box-title Tạo tài khoản quản trị

  //- Section 8
  .section-8
    form
      .inner-group
        label(for="fullName" class="inner-label") Họ tên
        input(type="text" id="fullName")
      .inner-group
        label(for="email" class="inner-label") Email
        input(type="email" id="email")
      .inner-group
        label(for="phone" class="inner-label") Số điện thoại
        input(type="text" id="phone")
      .inner-group
        label(for="role" class="inner-label") Nhóm quyền
        select(id="role")
          option(value="") Quản trị viên
          option(value="") Quản lý tour
          option(value="") Quản lý đơn hàng
      .inner-group
        label(for="positionCompany" class="inner-label") Chức vụ
        input(type="text" id="positionCompany")
      .inner-group
        label(for="status" class="inner-label") Trạng thái
        select(id="status")
          option(value="") Hoạt động
          option(value="") Tạm dừng
      .inner-group
        label(for="password" class="inner-label") Mật khẩu
        input(type="text" id="password")
      .inner-group.inner-two-col
        label(for="avatar" class="inner-label") Ảnh đại diện
        input(type="file" id="avatar")
      .inner-button.inner-two-col
        button Tạo mới
    .inner-back
      a(href="#") Quay lại danh sách
  //- End Section 8